<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <form method="post" action="index">
        <section>
        <label for="username">Username:</label>
        <input id="username" name="username" required>
    </section>
    <section>
        <label for="title">Title:</label>
        <input id="title" name="title" required>
    </section>
    <section>
        <label for="price">Price:</label>
        <input id="price" name="price" required>
    </section>
    <section>
        <label for="contact">Contact:</label>
        <input id="contact" name="contact" required>
    </section>
    <section>
        <label for="description">Description:</label>
        <input id="description" name="description" required>
    </section>
    <a href="/index">Back</a>
    <button>Post</button>   
</form>
</head>
<body>
    
</body>
</html>