<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <form method="post" action="/index">
        <section>
        <label fpr="username">Username:</label>
        <input id="username" required>
    </section>
    <section>
        <label fpr="title">Title:</label>
        <input id="title" required>
    </section>
    <section>
        <label fpr="price">Price:</label>
        <input id="price" required>
    </section>
    <section>
        <label fpr="contact">Contact:</label>
        <input id="contact" required>
    </section>
    <section>
        <label fpr="description">Description:</label>
        <input id="description" required>
    </section>
    <a href="/index">Back</a>
    <button>Post</button>   
</form>
</head>
<body>
    
</body>
</html>